<section class="article-section">
  <div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#"> {% include "@images/home.svg" %} </a>
        </li>
        <li class="breadcrumb-item"><a href="#">Články</a></li>
        <li class="breadcrumb-item" aria-current="page">
          <span>
            Druhý díl biatlonové sezony. Vše o závodech Světového poháru v
            Hochfilzenu</span
          >
        </li>
      </ol>
    </nav>
    <div class="article-section__wrapper">
      <div class="row">
        <div class="col-xl-8 col-md-10 text-center mx-auto">
          <div class="subtitle mb-3 text-center">14. 10. 2023</div>
          <h1 class="mb-6 h1">
            Druhý díl biatlonové sezony. Vše o závodech Světového poháru v
            Hochfilzenu
          </h1>
          <div class="perex">
            Seriál biatlonového Světového poháru se po startu ve Švédsku přesune
            do rakouského Hochfilzenu. Třídenní zastávka proběhne v termínu od
            8. do 10. prosince a odstartuje pátečními sprinty, na které v sobotu
            navážou stíhací závody. Druhý díl letošní sezony pak zakončí
            štafetové závody mužů i žen. Kompletní informační servis o světovém
            biatlonu sledujte na Sport.cz.
          </div>
        </div>
        <div class="col-12">
          <div class="article-section__img">
            <img src="images/content/topstory.png" loading="lazy" alt="story" />
          </div>
        </div>
        <div class="col-xl-8 col-md-10 mx-auto">
          <div class="o-content">
            <h4>Nominace českého týmu do Östersundu</h4>
            <p>
              Letošní závody v rakouském středisku jsou natlačeny do pouhých tří
              dnů, ve kterých se odjede celkem šest závodů. Půlhodinku před
              polednem to v pátek 8. prosince odstartuje mužský sprint,
              odpoledne je pak nejkratší individuální závod připraven i pro
              ženy.
            </p>
            <p>
              V sobotu v 12:15 čeká na muže stíhací závod, o dvě a půl hodiny
              později se na trať stíhačky dostanou i ženy. Závěrečný, nedělní
              den bude ve znamení týmových závodů. Nejprve se na start postaví
              štafety mužů a celou zastávku v Hochfilzenu ukončí ženské
              čtveřice.
            </p>
            <div class="article-section__photo">
              <img
                src="images/content/article-2.png"
                loading="lazy"
                alt="story"
              />
              <div class="article-section__author">
                Image courtesy of Fauxels via
                <a href="#" target="_blank">Pexels</a>
              </div>
            </div>
            <p>
              Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim
              mauris id. Non pellentesque congue eget consectetur turpis.
              Sapien, dictum molestie sem tempor. Diam elit, orci, tincidunt
              aenean tempus. Quis velit eget ut tortor tellus. Sed vel, congue
              felis elit erat nam nibh orci.
            </p>
            <q>
              <p>
                “Přímé přenosy jsou pro fanoušky biatlonu připraveny jako každý
                rok na sportovním kanálu České televize ČT Sport. Stejně tak je
                možné na ČT Sport všechny závody zhlédnout zpětně ze záznamu.”
              </p>
              <span>— Anežka Němcová, Česká televize</span>
            </q>
            <p>
              Fanoušci mohli Tomáše Lachmana vídat na obrazovkách ČT Sport od
              roku 2008, kdy začal biatlonové dění glosovat. Od té doby
              komentoval nespočet kol Světového poháru a z komentátorských
              stanovišť sledoval závody několika evropských i světových
              mistrovství. Před kamerou a za mikrofonem ho v současnosti ale už
              nenajdeme, otázkou zůstává, jestli se bude moct ještě někdy
              vrátit. Začátkem května se mu totiž život otočil naruby.
            </p>

            <div class="article-section__table">
              <div class="article-section__table-header">
                <div class="article-section__table-title">
                  Členové biatlonového týmu
                  <span> 75 členů </span>
                </div>
                <a href="article-section__table-btn">
                  <img src="images/ico/share.svg" alt="" />
                </a>
              </div>
              <table>
                <thead>
                  <tr>
                    <th class="name">Jméno a příjmení</th>
                    <th class="status">
                      Status
                      <img src="images/ico/arrow-down.svg" alt="" />
                    </th>
                    <th>Emailová adresa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="name">
                      <img src="images/content/ava.png" alt="" />
                      Roman Vráblík
                    </td>
                    <td class="status"><span>Active</span></td>
                    <td>
                      <a href="mailto:zuzana.benesova@gmail.com"
                        >zuzana.benesova@gmail.com</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td class="name">
                      <img src="images/content/ava.png" alt="" />
                      Roman Vráblík
                    </td>
                    <td class="status"><span>Active</span></td>
                    <td>
                      <a href="mailto:zuzana.benesova@gmail.com"
                        >zuzana.benesova@gmail.com</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td class="name">
                      <img src="images/content/ava.png" alt="" />
                      Roman Vráblík
                    </td>
                    <td class="status"><span>Active</span></td>
                    <td>
                      <a href="mailto:zuzana.benesova@gmail.com"
                        >zuzana.benesova@gmail.com</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td class="name">
                      <img src="images/content/ava.png" alt="" />
                      Roman Vráblík
                    </td>
                    <td class="status"><span>Active</span></td>
                    <td>
                      <a href="mailto:zuzana.benesova@gmail.com"
                        >zuzana.benesova@gmail.com</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td class="name">
                      <img src="images/content/ava.png" alt="" />
                      Roman Vráblík
                    </td>
                    <td class="status"><span>Active</span></td>
                    <td>
                      <a href="mailto:zuzana.benesova@gmail.com"
                        >zuzana.benesova@gmail.com</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h5>Související téma</h5>
            <p>
              Česká televize sháněla náhradu, při své snaze narazila na
              opravdový diamant. Tím je bývalá biatlonistka, trojnásobná
              medailistka z olympijských her a dvojnásobná mistryně světa
              Gabriela Soukalová. 34letá komentátorka si novou roli vyzkouší už
              dnes, 29. listopadu. „Těším se na novou výzvu a i na to, že uvidím
              biatlon z úplně jiného pohledu,“ uvedla Soukalová v tiskové
              zprávě, která byla poskytnuta redakci Sport.cz.
            </p>

            <h5>
              Biatlonovou superhvězdu zadržela policie. Může jí hrozit až
              pětileté vězení
            </h5>
            <p>
              Sagittis et eu at elementum, quis in. Proin praesent volutpat
              egestas sociis sit lorem nunc nunc sit. Eget diam curabitur mi ac.
              Auctor rutrum lacus malesuada massa ornare et. Vulputate
              consectetur ac ultrices at diam dui eget fringilla tincidunt. Arcu
              sit dignissim massa erat cursus vulputate gravida id. Sed quis
              auctor vulputate hac elementum gravida cursus dis.
            </p>
            <ul>
              <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
              <li>
                Eu turpis posuere semper feugiat volutpat elit, ultrices
                suspendisse. Auctor vel in vitae placerat.
              </li>
              <li>
                Suspendisse maecenas ac donec scelerisque diam sed est duis
                purus.
              </li>
            </ul>
            <div class="article-section__photo">
              <img
                src="images/content/article-3.png"
                loading="lazy"
                alt="story"
              />
              <div class="article-section__author">
                Image courtesy of Michael Burrows via
                <a href="#" target="_blank">Pexels</a>
              </div>
            </div>
            <p>
              Až do třetí střelby to Simonové v jednotlivcích šlo v Östersundu
              vcelku podle plánu. Od té doby to ale šlo s Francouzkou z kopce.
              Sedmadvacetiletá závodnice chybovala zprvu minimálně, v závěrečné
              střelbě ale minula tři terče. Celkem se čtyřmi trestnými minutami
              propadla na 31. místo. „Hořká porážka,“ přiznala pro L'Équipe po
              závodě a přidala další vysvětlující slova.
            </p>
            <p>
              „Chyběla mi mentální svěžest. Je zvláštní, že to říkám po prvním
              závodě, ale jsem psychicky vyčerpaná. Není to závod, na který bych
              měla snad zapomenout, ale musím znovu najít mentální svěžest,
              abych to zvládla. a dokázala se znovu soustředit v rozhodujících
              okamžicích,“ vysvětlovala Simonová, která svůj stav na konci
              individuálního závodu označila za zhroucení.
            </p>
            <ol>
              <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
              <li>
                Eu turpis posuere semper feugiat volutpat elit, ultrices
                suspendisse. Auctor vel in vitae placerat.
              </li>
              <li>
                Suspendisse maecenas ac donec scelerisque diam sed est duis
                purus.
              </li>
            </ol>
            <p>
              Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
              mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
              quis fusce augue enim. Quis at habitant diam at. Suscipit
              tristique risus, at donec. In turpis vel et quam imperdiet. Ipsum
              molestie aliquet sodales id est ac volutpat.
            </p>
            <div class="conclusion">
              <h4>Závěr</h4>
              <p>
                Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus
                id scelerisque est ultricies ultricies. Duis est sit sed leo
                nisl, blandit elit sagittis. Quisque tristique consequat quam
                sed. Nisl at scelerisque amet nulla purus habitasse.
              </p>
              <p>
                Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
                condimentum mi massa. In tincidunt pharetra consectetur sed duis
                facilisis metus. Etiam egestas in nec sed et. Quis lobortis at
                sit dictum eget nibh tortor commodo cursus.
              </p>
            </div>
          </div>
          <div class="articleAuthor">
            <div class="articleAuthor__item">
              <div class="articleAuthor__item-img">
                <img src="images/content/ava.png" alt="avatar" loading="lazy" />
              </div>
              <div class="articleAuthor__item-info">
                <h6>Alice Bednářová</h6>
                <span>Produkční</span>
              </div>
            </div>
            <ul class="articleAuthor__links">
              <li>
                <div id="copyLink">
                  {% include "@images/copyLink.svg" %} Klikni pro zkopírování
                </div>
              </li>
              <li>
                <div class="social-share twitter">
                  {% include "@images/x.svg" %}
                </div>
              </li>
              <li>
                <div class="social-share facebook">
                  {% include "@images/fb-2.svg" %}
                </div>
              </li>
              <li>
                <div class="social-share linkedin">
                  {% include "@images/in.svg" %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function copyToClipboard(text) {
    const tempInput = document.createElement("input");
    tempInput.value = text;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
  }

  document.getElementById("copyLink").addEventListener("click", function () {
    const url = window.location.href;
    copyToClipboard(url);
    alert("Odkaz zkopírován: " + url);
  });
</script>
