<div class="menuSection">
  <div class="container">
    <ul class="menuSection__list">
      <li>
        <a class="menuSection__list-transport" href="#">
          <img src="images/ico/bus.svg" alt="" /> Doprava</a
        >
      </li>
      <li>
        <a class="menuSection__list-maps" href="#">
          <img src="images/ico/map.svg" alt="" /> Mapy</a
        >
      </li>
      <li>
        <a class="menuSection__list-program" href="#">
          <img src="images/ico/calendar.svg" alt="" /> Program
        </a>
      </li>
      <li>
        <a class="menuSection__list-shop" href="#">
          <img src="images/ico/shop-bag.svg" alt="" /> Fanshop</a
        >
      </li>
    </ul>
  </div>
</div>
