<div class="menuSection">
  <div class="container">
    <ul class="menuSection__list">
      <li>
        <a class="menuSection__list-transport" href="#">
          {% include "@images/bus.svg" %} Doprava</a
        >
      </li>
      <li>
        <a class="menuSection__list-maps" href="#">
          {% include "@images/map.svg" %} Mapy</a
        >
      </li>
      <li>
        <a class="menuSection__list-program" href="#">
          {% include "@images/calendar.svg" %} Program
        </a>
      </li>
      <li>
        <a class="menuSection__list-shop" href="#">
          {% include "@images/shop-bag.svg" %} Fanshop</a
        >
      </li>
    </ul>
  </div>
</div>
