#frm-passwordForm {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .required {
    width: 100%;
    display: block;
    font-weight: 500;
    margin-bottom: 4px;
  }
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  .button {
    padding: 10px 15px;
    background-color: var(--bluePrimary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .text {
    border-radius: 8px;
    height: 44px;
    width: 100%;
    display: block;
    padding-left: 14px;
    padding-right: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s;
    color: var(--color-gray-950);
    box-shadow: 0px 1px 2px 0px #1018280d;
    border: 1px solid var(--color-gray-300);
    outline: none;
    &:hover {
      border: 1px solid var(--color-gray-500);
    }
    &:focus,
    &:active {
      border: 1px solid var(--color-gray-600);
    }
    &::placeholder {
      color: var(--color-gray-500);
    }
  }
}

.form-row label {
  margin-right: 10px;
}

#password-error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
}
