<section class="album-section">
  <div class="row album-section__inner" id="animated-thumbnail">
    <div class="col-lg-6">
      <figure>
        <a
          href="https://4.bp.blogspot.com/-udI8g-T4oLU/Wm7_7gFgX5I/AAAAAAAAN-4/eDjcDOBeWdkxjBop_YzyJeuAIplOsm8ogCLcBGAs/s1600/81651.jpg"
          style="margin-left: 10px; margin-right: 10px"
          ><img
            src="https://4.bp.blogspot.com/-udI8g-T4oLU/Wm7_7gFgX5I/AAAAAAAAN-4/eDjcDOBeWdkxjBop_YzyJeuAIplOsm8ogCLcBGAs/s640/81651.jpg"
        /></a>
      </figure>
    </div>
    <div class="col-lg-3 col-6">
      <figure>
        <a
          href="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s1600/4094001-wallpaper-minimalist.jpg"
          style="margin-left: 10px; margin-right: 10px"
          ><img
            src="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s640/4094001-wallpaper-minimalist.jpg"
        /></a>
      </figure>
    </div>
    <div class="col-lg-3 col-6">
      <figure>
        <a
          href="https://1.bp.blogspot.com/-pea-82vMWP8/Wm7_yzjwaMI/AAAAAAAAN-Y/Xa3bx0C0Itcjq6Mbt26Nx0l2eDfZgT6wQCLcBGAs/s1600/164541026-minimalism-wallpapers.jpg"
          style="margin-left: 10px; margin-right: 10px"
          ><img
            src="https://1.bp.blogspot.com/-pea-82vMWP8/Wm7_yzjwaMI/AAAAAAAAN-Y/Xa3bx0C0Itcjq6Mbt26Nx0l2eDfZgT6wQCLcBGAs/s640/164541026-minimalism-wallpapers.jpg"
        /></a>
      </figure>
    </div>
    <div class="col-lg-3 col-6">
      <figure>
        <a
          href="https://2.bp.blogspot.com/-rP2kIPiCn3Y/Wm7_1JLC32I/AAAAAAAAN-g/2i2BJuDjHGoFhWQ89UaMpm3ZSQcyry2UQCLcBGAs/s1600/d6d0bca64f31251abe01f18b7b85c71d.png"
          style="margin-left: 10px; margin-right: 10px"
          ><img
            src="https://2.bp.blogspot.com/-rP2kIPiCn3Y/Wm7_1JLC32I/AAAAAAAAN-g/2i2BJuDjHGoFhWQ89UaMpm3ZSQcyry2UQCLcBGAs/s640/d6d0bca64f31251abe01f18b7b85c71d.png"
        /></a>
      </figure>
    </div>
    <div class="col-lg-3 col-6">
      <figure>
        <a
          href="https://3.bp.blogspot.com/-gVZ6tZgJwXA/Wm7_3I8ffPI/AAAAAAAAN-s/QHSIpsrJpCkWkxVszcT2I5ZhDWFp_YP-gCLcBGAs/s1600/im-500239713.jpg"
          style="margin-left: 10px; margin-right: 10px"
          ><img
            src="https://3.bp.blogspot.com/-gVZ6tZgJwXA/Wm7_3I8ffPI/AAAAAAAAN-s/QHSIpsrJpCkWkxVszcT2I5ZhDWFp_YP-gCLcBGAs/s640/im-500239713.jpg"
        /></a>
      </figure>
    </div>
    <div class="col-lg-6">
      <figure>
        <a
          href="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s1600/4094001-wallpaper-minimalist.jpg"
          style="margin-left: 10px; margin-right: 10px"
          ><img
            src="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s640/4094001-wallpaper-minimalist.jpg"
        /></a>
      </figure>
    </div>
  </div>
</section>
