<div class="sideMenu navbar">
  <div class="sideMenu__box">
    <button class="c-header__opener js-header__closer" type="button">
      <span></span>
    </button>
    <ul class="sideMenu__list navbar-nav">
      <li class="sideMenu__item">
        <a href="#" class="sideMenu__link">Program</a>
      </li>
      <li class="sideMenu__item">
        <a href="#" class="sideMenu__link">Vstupenky</a>
      </li>
      <li class="sideMenu__item">
        <a href="#" class="sideMenu__link">Přidej se k nám</a>
      </li>
      <li class="sideMenu__item">
        <a
          href="#"
          class="sideMenu__link dropdown-toggle"
          id="navstevniky-2"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Pro návštěvníky</a
        >
        <ul
          class="sideMenu-dropdown dropdown-menu"
          aria-labelledby="navstevniky-2"
        >
          <li>
            <a class="dropdown-item" href="#">polozka 1</a>
          </li>
          <li><a class="dropdown-item" href="#">polozka 2</a></li>
          <li><a class="dropdown-item" href="#">polozka 3</a></li>
        </ul>
      </li>
      <li class="sideMenu__item">
        <a href="#" class="sideMenu__link">Kontakt</a>
      </li>
      <li class="sideMenu__item">
        <a href="#" class="sideMenu__link">Fanshop</a>
      </li>
      <li class="sideMenu__item">
        <a href="#" class="sideMenu__link">Galerie</a>
      </li>
      <li class="sideMenu__item">
        <a href="#" class="sideMenu__link">Články</a>
      </li>
    </ul>
    <ul class="languageLinks">
      <li>
        <a href="#">
          <img src="images/ico/cz.svg" alt="language" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="images/ico/gb.svg" alt="language" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="images/ico/de.svg" alt="language" />
        </a>
      </li>
    </ul>
    <a href="#" target="_blank" class="BiatlonLink">
      <img src="images/ico/cesky-biatlon.svg" alt="biatlon" />
    </a>
    <ul class="sideMenu__links">
      <li>
        <a class="sideMenu__links-item" target="_blank" href="#">
          <img src="images/ico/fb.svg" alt="facebook" />
        </a>
      </li>
      <li>
        <a class="sideMenu__links-item" target="_blank" href="#">
          <img src="images/ico/instagram.svg" alt="instagram" />
        </a>
      </li>
    </ul>
  </div>
  <div class="menuSection">
    <ul class="menuSection__list">
      <li>
        <a class="menuSection__list-transport" href="#">
          <img src="images/ico/bus.svg" alt="" />
          Doprava</a
        >
      </li>
      <li>
        <a class="menuSection__list-maps" href="#">
          <img src="images/ico/map.svg" alt="" />
          Mapy</a
        >
      </li>
      <li>
        <a class="menuSection__list-program" href="#">
          <img src="images/ico/calendar.svg" alt="" /> Program
        </a>
      </li>
      <li>
        <a class="menuSection__list-shop" href="#">
          <img src="images/ico/shop-bag.svg" alt="" /> Fanshop</a
        >
      </li>
    </ul>
  </div>
</div>
