<div class="sideMenu navbar">
  <ul class="sideMenu__list navbar-nav">
    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">Program</a>
    </li>
    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">Vstupenky</a>
    </li>
    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">Přidej se k nám</a>
    </li>
    <li class="sideMenu__item">
      <a
        href="#"
        class="sideMenu__link dropdown-toggle"
        id="navstevniky-2"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Pro návštěvníky</a
      >
      <ul
        class="sideMenu-dropdown dropdown-menu"
        aria-labelledby="navstevniky-2"
      >
        <li>
          <a class="dropdown-item" href="#">polozka 1</a>
        </li>
        <li><a class="dropdown-item" href="#">polozka 2</a></li>
        <li><a class="dropdown-item" href="#">polozka 3</a></li>
      </ul>
    </li>
    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">Kontakt</a>
    </li>
    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">Fanshop</a>
    </li>
    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">Galerie</a>
    </li>
    <li class="sideMenu__item">
      <a href="#" class="sideMenu__link">Články</a>
    </li>
  </ul>
  <ul class="languageLinks">
    <li>
      <a href="#">
        <img src="images/ico/cz.svg" alt="language" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/ico/gb.svg" alt="language" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/ico/de.svg" alt="language" />
      </a>
    </li>
  </ul>
  <a href="#" target="_blank" class="BiatlonLink">
    <img src="images/ico/cesky-biatlon.svg" alt="biatlon" />
  </a>
  <ul class="sideMenu__links">
    <li>
      <a class="sideMenu__links-item" target="_blank" href="#">
        <img src="images/ico/fb.svg" alt="facebook" />
      </a>
    </li>
    <li>
      <a class="sideMenu__links-item" target="_blank" href="#">
        <img src="images/ico/instagram.svg" alt="instagram" />
      </a>
    </li>
  </ul>
  <div class="menuSection">
    <ul class="menuSection__list">
      <li>
        <a class="menuSection__list-transport" href="#">
          {% include "@images/bus.svg" %} Doprava</a
        >
      </li>
      <li>
        <a class="menuSection__list-maps" href="#">
          {% include "@images/map.svg" %} Mapy</a
        >
      </li>
      <li>
        <a class="menuSection__list-program" href="#">
          {% include "@images/calendar.svg" %} Program
        </a>
      </li>
      <li>
        <a class="menuSection__list-shop" href="#">
          {% include "@images/shop-bag.svg" %} Fanshop</a
        >
      </li>
    </ul>
  </div>
</div>
