<section class="partners-section">
  <div class="container">
    <div class="partners-section__row">
      <h6 class="h5">Partneři IBU</h6>
      <div class="partners-section__inner">
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-1.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-2.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-3.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-4.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-1.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-2.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-3.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-4.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-1.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-2.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-3.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-4.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-5.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-6.png"
            loading="lazy"
            alt="parner"
          />
        </a>
      </div>
    </div>
    <div class="partners-section__row">
      <h6 class="h5">Partneři OV</h6>
      <div class="partners-section__inner">
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-7.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-8.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-9.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-10.png"
            loading="lazy"
            alt="parner"
          />
        </a>
      </div>
    </div>
    <div class="partners-section__row">
      <h6 class="h5">Dodavatelé OV</h6>
      <div class="partners-section__inner">
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-11.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-12.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-13.png"
            loading="lazy"
            alt="parner"
          />
        </a>
      </div>
    </div>
    <div class="partners-section__row">
      <h6 class="h5">Mediální partneři</h6>
      <div class="partners-section__inner">
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-14.png"
            loading="lazy"
            alt="parner"
          />
        </a>
        <a href="#" target="_blank" class="partners-section__item">
          <img
            src="images/content/partner/partner-15.png"
            loading="lazy"
            alt="parner"
          />
        </a>
      </div>
    </div>
  </div>
</section>
