<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <a href="#" class="footer__logo">
          <img src="images/ico/logo.svg" loading="lazy" alt="footer-logo" />
        </a>
        <h6 class="h2">Zažijte s námi atmosféru biatlonu.</h6>
        <p class="p3">
          Souboje těch největších hvězd v zaplněné Vysočina Areně.
        </p>
        <a href="#" class="ticket"
          >Vstupenky {% include "@images/ticket.svg" %}</a
        >
      </div>
      <div class="footer__middle">
        <div class="page__names">
          <div class="page__action">
            BMW IBU <span> WORLD CHAMPIONSHIPS BIATHLON </span> 2024
          </div>
          <div class="page__title">
            Nové Město na Moravě <span>07.– 18. 02.</span>
          </div>
        </div>
        <ul class="footer__links">
          <li>
            <a
              href="https://www.biatlon.cz/"
              target="_blank"
              class="BiatlonLink"
            >
              <img src="images/ico/cesky-biatlon.svg" alt="biatlon" />
            </a>
          </li>
          <li>
            <a class="footer__links-item" target="_blank" href="#">
              <img src="images/ico/fb.svg" alt="facebook" />
            </a>
          </li>
          <li>
            <a class="footer__links-item" target="_blank" href="#">
              <img src="images/ico/instagram.svg" alt="instagram" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__bottom">
        <div class="copyright">
          All Rights Reserved ©
          <span>
            <a href="https://www.biatlon.cz/" target="_blank">Český biatlon</a>
            &
            <a href="https://esportsmedia.cz/" target="_blank"
              >eSportsmedia.cz</a
            >
          </span>
          <br />
          <a
            href="javascript:void(0);"
            data-cc="c-settings"
            aria-haspopup="dialog"
            >Nastavení cookies</a
          >
        </div>
        <a href="#" class="btnUp" id="btnUp">
          <img src="images/ico/arrow-up.svg" alt="goUp" />
        </a>
      </div>
    </div>
  </div>
</footer>
