<section class="topstory">
  <div class="topstory__item">
    <div class="topstory-slider">
      <div class="topstory__img">
        <img src="images/content/topstory.png" loading="lazy" alt="topstory" />
      </div>
      <div class="topstory__img">
        <img
          src="images/content/topstory-2.png"
          loading="lazy"
          alt="topstory"
        />
      </div>
      <div class="topstory__img">
        <img
          src="images/content/topstory-3.png"
          loading="lazy"
          alt="topstory"
        />
      </div>
    </div>
    <div class="topstory__content">
      <div class="topstory__action">
        BMW IBU WORLD CHAMPIONSHIPS BIATHLON 2024
      </div>
      <h1>Nové Město na Moravě</h1>
      <h2 class="h2">07.– 18. 02.</h2>
      <a href="#" class="ticket">
        Vstupenky {% include "@images/ticket.svg" %}
      </a>
    </div>
  </div>
  {% include "@components/menuSection/menuSection.twig" %}
</section>
