:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-brand-500: #d1a24d;
  --color-brand-600: #cb9534;
  --color-brand-700: #b6862f;
  --color-brand-800: #a2772a;

  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-900: #101828;

  --bluePrimary: #00384f;
}
