{% extends "@components/base/base.twig" %} {% set title = "06.0_static-test" %}
{% block main %}
<section class="article-section">
  <div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.667 14.167h6.666M9.181 2.303L3.53 6.7c-.377.294-.566.441-.702.625-.12.163-.21.347-.265.542-.062.22-.062.46-.062.938v6.03c0 .933 0 1.4.182 1.756.16.314.414.569.728.729.357.181.823.181 1.757.181h9.666c.934 0 1.4 0 1.757-.181.314-.16.569-.415.728-.729.182-.356.182-.823.182-1.757V8.804c0-.478 0-.718-.062-.938a1.665 1.665 0 00-.265-.542c-.136-.184-.325-.33-.702-.625l-5.652-4.396c-.293-.227-.44-.341-.601-.385a.834.834 0 00-.436 0c-.161.044-.308.158-.6.385z"
                stroke="#667085"
                stroke-width="1.67"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="/clanky">Články</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <span
            >Začínáme odpočítávat: 100 dní do MS v Novém Městě na Moravě</span
          >
        </li>
      </ol>
    </nav>
    <div class="article-section__wrapper">
      <div class="row">
        <div class="col-xl-8 col-md-10 text-center mx-auto">
          <div class="subtitle mb-3 text-center">5. 1. 2024</div>
          <h1 class="mb-6 h1">
            Začínáme odpočítávat: 100 dní do MS v Novém Městě na Moravě
          </h1>
          <div class="perex">
            Přesně za 100 dní odstartuje závodem smíšených štafet IBU
            Mistrovství světa v biatlonu v Novém Městě na Moravě 2024!
          </div>
        </div>
        <div class="col-12">
          <div class="article-section__img">
            <img src="images/content/topstory.png" loading="lazy" alt="story" />
          </div>
        </div>
        <div class="col-xl-8 col-md-10 mx-auto">
          <div class="o-content">
            <h3>
              <span style="background-color: initial"
                >100 DNÍ PŘED ŠAMPIONÁTEM… A O VSTUPENKY JE VELKÝ ZÁJEM</span
              >
            </h3>
            <div>
              „Na to, že ještě ani nezačala sezóna, je zájem fanoušků obrovský.
              Hlavně o víkendové závody. Na druhý víkend jsou už teď ty nejlepší
              tribuny téměř vyprodané, takže by fanoušci neměli s nákupem
              vstupenek váhat,“ upozorňuje předseda organizačního výboru Jiří
              Hamza.
            </div>
            <div>
              <h2>100 DNÍ PŘED ŠAMPIONÁTEM… A REKONSTRUKCE FINIŠUJE</h2>
              <div>
                Nejviditelnější je nová tribuna E, v jejíž útrobách najdou
                zázemí fanoušci i týmy. Rekonstrukcí ale prošel prakticky celý
                areál. Aktuálně se testuje nové osvětlení, které je mezi
                evropskými areály nejmodernější. Nové jsou i datové sítě nebo
                trafostanice. Mladí biatlonisté už si také mohli vyzkoušet
                upravenou podobu tratí, které jsou teď v letní i zimní variantě
                téměř totožné.
              </div>
            </div>
            <div>
              <h4>100 DNÍ PŘED ŠAMPIONÁTEM… A JSME VIDĚT</h4>
              <div>
                Vratislavovo náměstí v Novém Městě na Moravě zdobí totem, který
                dnes začal odpočítávat 100 dní do mistrovství světa. Čas do
                prvního závodu (středa 7. února 17:20) odpočítává totem i přímo
                ve Vysočina Areně. Kromě toho můžou fanoušky na Vysočině
                potkávat Markétu Davidovou, která dominuje venkovním reklamním
                plochám.
              </div>
            </div>
          </div>

          <div class="articleAuthor">
            <div class="articleAuthor__item">
              <div class="articleAuthor__item-img">
                <img
                  src="/thumbnails/autoxshrink/w/m/screenshot-2023-12-31-at-19.49.54.png"
                  alt="avatar"
                  loading="lazy"
                />
              </div>
              <div class="articleAuthor__item-info">
                <h6>John Doe</h6>
                <span>CEO</span>
              </div>
            </div>

            <ul class="articleAuthor__links">
              <li>
                <div
                  id="copyLink"
                  data-link="http://biathlonnmnm.sh13w1.esports.cz/clanky/zaciname-odpocitavat-100-dni-do-ms-v-novem-meste-na-morave"
                >
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_7552_862)">
                      <path
                        d="M4.167 12.5c-.777 0-1.165 0-1.472-.127a1.667 1.667 0 01-.902-.902c-.126-.306-.126-.694-.126-1.471V4.333c0-.933 0-1.4.181-1.756.16-.314.415-.569.729-.729.356-.181.823-.181 1.756-.181H10c.777 0 1.165 0 1.471.126.409.17.733.494.902.902.127.307.127.695.127 1.472m-2.333 14.166h5.5c.933 0 1.4 0 1.756-.181.314-.16.569-.415.729-.729.181-.356.181-.823.181-1.756v-5.5c0-.934 0-1.4-.181-1.757a1.667 1.667 0 00-.729-.728C17.067 7.5 16.6 7.5 15.667 7.5h-5.5c-.934 0-1.4 0-1.757.182-.314.16-.569.414-.728.728-.182.357-.182.823-.182 1.757v5.5c0 .933 0 1.4.182 1.756.16.314.414.569.728.729.357.181.823.181 1.757.181z"
                        stroke="#344054"
                        stroke-width="1.67"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_7552_862">
                        <path fill="#fff" d="M0 0h20v20H0z"></path>
                      </clipPath>
                    </defs>
                  </svg>
                  Zkopírovat odkaz
                </div>
              </li>
              <li>
                <div class="social-share twitter">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_7552_478)">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M13.288 19.167l-4.625-6.592-5.789 6.592H.424l7.153-8.141L.425.833h6.288l4.359 6.213 5.46-6.213h2.45l-6.82 7.764 7.414 10.57h-6.288zm2.727-1.859h-1.649L3.933 2.692H5.58l4.18 5.852.722 1.016 5.532 7.748z"
                        fill="#98A2B3"
                      ></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_7552_478">
                        <path fill="#fff" d="M0 0h20v20H0z"></path>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </li>
              <li>
                <div class="social-share facebook">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_7552_772)">
                      <path
                        d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.093 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.563V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z"
                        fill="#98A2B3"
                      ></path>
                      <path
                        d="M13.893 12.89l.443-2.89h-2.774V8.125c0-.79.388-1.563 1.63-1.563h1.261v-2.46s-1.144-.196-2.238-.196c-2.285 0-3.777 1.385-3.777 3.89V10h-2.54v2.89h2.54v6.988c1.035.163 2.09.163 3.124 0v-6.987h2.33z"
                        fill="#fff"
                      ></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_7552_772">
                        <path fill="#fff" d="M0 0h20v20H0z"></path>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </li>
              <li>
                <div class="social-share linkedin">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_7552_1098)">
                      <path
                        d="M18.524 0H1.476A1.476 1.476 0 000 1.476v17.048A1.476 1.476 0 001.476 20h17.048A1.476 1.476 0 0020 18.524V1.476A1.476 1.476 0 0018.524 0zM5.96 17.038H2.954V7.486h3.007v9.552zM4.456 6.162a1.726 1.726 0 111.736-1.724 1.702 1.702 0 01-1.736 1.724zm12.588 10.884H14.04v-5.218c0-1.54-.654-2.014-1.499-2.014-.891 0-1.766.672-1.766 2.053v5.179H7.767V7.493h2.891v1.324h.04c.29-.588 1.306-1.592 2.858-1.592 1.677 0 3.49.996 3.49 3.912l-.002 5.909z"
                        fill="#98A2B3"
                      ></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_7552_1098">
                        <path fill="#fff" d="M0 0h20v20H0z"></path>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="py-lg-16">
  {% include "@components/menuSection/menuSection.twig" %}
</div>

{% include "@components/partners/partners.twig" %} {% include
"@components/album-section/album-section.twig" %} {% endblock %}
