{% extends "@components/base/base.twig" %} {% set title = "07.0_password" %} {%
block main %} {% include "@components/password/password.twig" %}
<div class="py-lg-16">
  {% include "@components/menuSection/menuSection.twig" %}
</div>

{% include "@components/partners/partners.twig" %} {% include
"@components/album-section/album-section.twig" %} {% endblock %}
