<section class="blog-section">
  <div class="container">
    <div class="row blog-section__top gx-6 gy-8">
      <div class="col-lg-6">
        <div class="blogItemTop">
          <a href="#" class="blogItemTop__img">
            <img src="images/content/blog-1.png" loading="lazy" alt="blog" />
          </a>
          <div class="blogItemTop__date">15. listopad 2023</div>
          <h3>
            <a class="h3">
              Začínáme odočítávat: 100 dní do mistrovství světa v Novém Městě na
              Moravě.
            </a>
          </h3>
          <p class="p3 mb-4">
            Přesně za 100 dní odstartuje závodem smíšených štafet IBU
            Mistrovství světa v biatlonu v Novém Městě na Moravě 2024! 100 dní
            před šampionátem…
          </p>
          <a href="#" class="link link-arrow">Celý článek</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blogItemTop">
          <a href="#" class="blogItemTop__img">
            <img src="images/content/blog-2.png" loading="lazy" alt="blog" />
          </a>
          <div class="blogItemTop__date">15. listopad 2023</div>
          <h3>
            <a class="h3">
              Štafeta biatlonistek šestá, navzdory třem trestným kolům
            </a>
          </h3>
          <p class="p3 mb-4">
            V polovině štafetového klání při Světovém poháru ve švédském
            Östersundu držely české biatlonistky druhé místo a vypadalo to na
            reálný útok na medaili. ...
          </p>
          <a href="#" class="link link-arrow">Celý článek</a>
        </div>
      </div>
    </div>
    <div class="blog-section__scroll">
      <div class="blogItem__inner">
        <div class="blogItem">
          <a href="#" class="blogItem__img">
            <img src="images/content/blog-3.png" loading="lazy" alt="blog" />
          </a>
          <div class="blogItem__date">15. listopadu 2024</div>
          <h4>
            <a href="#" class="h5">
              Hořká porážka. Je to zvláštní, že to říkám po prvním závodě!
              Biatlonová superstar bije na poplach
            </a>
          </h4>
        </div>
        <div class="blogItem">
          <a href="#" class="blogItem__img">
            <img src="images/content/blog-4.png" loading="lazy" alt="blog" />
          </a>
          <div class="blogItem__date">15. listopadu 2024</div>
          <h4>
            <a href="#" class="h5">
              Krčmář čtrnáctý a body bral i Mareček, přestože omylem vzal zbraň
              krajanovi
            </a>
          </h4>
        </div>
        <div class="blogItem">
          <a href="#" class="blogItem__img">
            <img src="images/content/blog-5.png" loading="lazy" alt="blog" />
          </a>
          <div class="blogItem__date">15. listopadu 2024</div>
          <h4>
            <a href="#" class="h5">
              Davidová za pět na střelnici, do žlutého se oblékla Vittozziová
            </a>
          </h4>
        </div>
        <div class="blogItem">
          <a href="#" class="blogItem__img">
            <img src="images/content/blog-6.png" loading="lazy" alt="blog" />
          </a>
          <div class="blogItem__date">15. listopadu 2024</div>
          <h4 class="h5">
            <a href="#" class="h5">
              Mix štafeta se biatlonistům povedla. České kvarteto pošilhávalo po
              stupních vítězů, nakonec dojelo v Östersundu páté
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
